@import "common.scss";

.charactersWrapper{
    top: calc(50% - 200px);
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 90vh;
    .character{
        position: relative;
        top: 50%;
        margin-top: -250px;
        margin: -250px 20px 20px 20px;
        display: flex;
        flex-direction: column;
        .characterImage{
            padding: 20px;
            margin-bottom: 20px;
            border: 5px solid blue;
            width: 160px;
            height: 190px;
        }
        .characterText{
            padding: 5px;
            color: black;
            font-weight: 400;
            text-align: center;
            font-size: 18px;
        }
    }
}