.center{
    display: flex;
    justify-content: center;
    padding: 5px;
    margin : 5px;
}


.displayHeader{
    p{
        font-weight: 500;
        font-size: 20px;
    }
}

.displayFooter, .displayHeader{
    height:50px;
    background-color: adjust-hue($color: #0e0e5f, $degrees: 0);
    color: white;
    display: flex;
    justify-content: space-around;
    font-weight: 300;
    font-size: 15px;
    p{
        padding: 5px;
        margin: 5px;
    }
}