$component-font : #282c34;

.show{
    width: 200px;
    height: auto;
    background-color: white;
    color: $component-font;
    padding: 5px;
    border: 5px solid rgb(69, 12, 173);
    border-radius: 10px;
    position: absolute;
    left: 200px;
    top:200px;
}

.hide{
    display: none;
}