@font-face {
    font-family: 'freehand';
    src: URL('ShadowsIntoLight-Regular.ttf') format('truetype');
}

$component-font : #282c34;
$purple: #6d5495;
$purple-light: 0.5rem solid rgb(109 84 149 / 47%);
$yellow: #fff851;
$yellow-light: #f0dbb1;
$yellow-dark: #f1bf5d;
$black-shadow: #1e1d1d;

h1, h2, h3, h4, h5, h6{
    font-family: freehand;
}

body {
    margin: 0;
    font-family: freehand;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
}

.center{
    display: flex;
    justify-content: center;
    padding: 5px;
    margin : 5px;
}

a{
    color: $yellow;
}

a:hover{
    color: $yellow-light;
    text-decoration: underline;
    text-decoration-color: $yellow-light;
}

