@import "common.scss";

.App {
  text-align: center;
  min-height: 90vh;
}

.App-logo {
  animation: App-logo-spin infinite 2s linear;
  height: 60vmin;
  pointer-events: none;
  border-radius: 5px;
}

.App-header {
  min-height: 100vh;
  color: $yellow-light;
  background-color: $purple;

}

.App-link:hover {
  color: $yellow;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(-1deg);
  }
  to {
    transform: rotate(1deg);
  }
}

.intro{
  margin-top:20px;
}

.show{
  width: 200px;
  height: auto;
  background-color: $purple;
  color: $yellow;
  padding: 5px;
  border: 5px solid $yellow-dark;
  border-radius: 10px;
  position: absolute;
  left: calc(50% - 100px);
  top:150px;
}

.hide{
  display: none;
}


.displayHeader{
  p{
      font-weight: 500;
      font-size: 20px;
  }
}

.displayFooter, .displayHeader{
  height:50px;
  background-color: $purple;
  color: $yellow;
  display: flex;
  justify-content: space-around;
  font-weight: 300;
  font-size: 15px;
  box-shadow: 0px 5px 10px #1e1d1d;
  p{
      padding: 5px;
      margin: 5px;
  }

}

.characterWrapper{
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 90vh;
  background-color: $purple;

  &-all{
    top: calc(50% - 200px);
  }
  .character{
    display: flex;
    flex-direction: column;
      &-all{
        position: relative;
        top: 50%;
        margin-top: -250px;
        margin: -250px 20px 20px 20px;
      }
      &-solo{
        justify-content: center;
        position: absolute;
        left: 50%;
        margin-left: -125px;
        margin-top: -200px;
      }
      .characterImage{
        margin-bottom: 20px;
        border: 0.5rem solid $yellow-dark;
        box-shadow: 0px 5px 6px $black-shadow;
        border-radius: 30%;

          &-all{
            width: 160px;
            height: 190px;
          }
          &-solo{
            width: 20rem;
          }
      }

      .characterImage-all:hover {
          border: 0.5rem solid $yellow-light
      }
      .characterText{
          padding: 5px;
          color: $yellow;
          font-weight: 400;
          text-align: center;
          font-size: 18px;
      }
  }
}

